In [2]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split, TimeSeriesSplit
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, StackingRegressor
from sklearn.linear_model import Ridge
import matplotlib.pyplot as plt
import seaborn as sns
import time
import warnings

In [3]:
df = pd.read_excel('dataset_final.xlsx')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TANGGAL   887 non-null    datetime64[ns]
 1   TN        887 non-null    float64
 2   TX        887 non-null    float64
 3   TAVG      887 non-null    float64
 4   RH_AVG    887 non-null    float64
 5   RR        887 non-null    float64
 6   SS        887 non-null    float64
 7   FF_X      887 non-null    int64
 8   DDD_X     887 non-null    int64
 9   FF_AVG    887 non-null    int64
 10  DDD_CAR   887 non-null    float64
 11  RR_lag_1  887 non-null    float64
 12  RR_lag_2  887 non-null    float64
 13  RR_lag_3  887 non-null    float64
 14  RR_1      887 non-null    float64
 15  RR_2      887 non-null    float64
 16  RR_3      887 non-null    float64
dtypes: datetime64[ns](1), float64(13), int64(3)
memory usage: 117.9 KB

In [4]:
df = df.drop(columns=['RR_lag_1', 'RR_lag_2', 'RR_lag_3', 'RR_1', 'RR_2', 'RR_3'])

In [9]:
output = df.to_excel('Dataset_cleaned2.xlsx')

In [8]:
df['TANGGAL'].duplicated().sum()

np.int64(0)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TANGGAL  887 non-null    datetime64[ns]
 1   TN       887 non-null    float64
 2   TX       887 non-null    float64
 3   TAVG     887 non-null    float64
 4   RH_AVG   887 non-null    float64
 5   RR       887 non-null    float64
 6   SS       887 non-null    float64
 7   FF_X     887 non-null    int64
 8   DDD_X    887 non-null    int64
 9   FF_AVG   887 non-null    int64
 10  DDD_CAR  887 non-null    float64
dtypes: datetime64[ns](1), float64(7), int64(3)
memory usage: 76.4 KB

In [ ]:
#Feature Engineering

def create_advanced_features(df):
    df = df.copy ()
    
    df['month'] = df['TANGGAL'].dt.month
    df['day'] = df['TANGGAL'].dt.day
    df['dayofyear'] = df['TANGGAL'].dt.dayofyear
    df['week'] = df['TANGGAL'].dt.isocalendar().week
    df['quarter'] = df['TANGGAL'].dt.quarter
    df['dayofweek'] = df['TANGGAL'].dt.dayofweek

    #Cylical Encoding - for model to identify pattern 
    df['month_sin'] = np.sin(2 * np.pi * df['month'] / 12)
    df['month_cos'] = np.cos(2 * np.pi * df['month'] / 12)
    df['day_sin'] = np.sin(2 * np.pi * df['day'] / 31)
    df['day_cos'] = np.cos(2 * np.pi * df['day'] / 31)